extends layout.pug 

block content 
    div.container 
        h1 Create blog  

        if error 
            p.error You have to fill all lines!

        if success 
            p.success Note is created!

        form.form(action="/create" method='POST')
            label Title 
            input.input(type="text" name="title")

            label Content 
            textarea.input(type="text" name="content")

            button.btn Create blog  