extends layout.pug 

block content
  div.container 
     h1.first-msg Welcome to the world of blogging! Here you will find many interesting and fascinating blogs on a wide variety of topics. 
     a.featured(href="/create") Create new post 
     
     div.imgcontainer
        div.wrapper
          img(src='/static/images/first.png')
          img(src='/static/images/second.png')
          img(src='/static/images/third.png')
          img(src='/static/images/fourth.png')
     h6 This web application was created to fulfill Web Technology module`s requirements and does not represent an actual company or service