extends layout.pug 

block content
  div.container 
     h1.first-msg Welcome to the world of blogging! Here you will find many interesting and fascinating blogs on a wide variety of topics. 
     a.featured(href="/create") Create new post 