extends layout.pug 

block content
  div.container 
     h1.first-msg Welcome to the world of blogging! Here you will find many interesting and fascinating blogs on a wide variety of topics. 
     a.featured(href="/create") Create new post 
     
     div.imgcontainer
        div.wrapper
          img(src='./images/first.png')
          img(src='./images/second.png')
          img(src='./images/third.png')
          img(src='./images/fourth.png')