doctype html
html(lang="en")
    head
        title TheBlog
        link(rel="stylesheet", href="/static/styles.css")

    body 
        header.navbar   
            h1
                a(href = '/') TheBlog 

            nav.nav
                a(href="/notes") All Notes
                a(href="/create") Create new Note
            
    block content 