
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    font-size : 20px;
    color: #444;
    font-family: 'Roboto Slab', serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    
}

a:hover {
    color:hsl(209, 94%, 68%);
}

.navbar {
    max-width: 1000px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

.nav a{
 
    display:inline-block;
    padding: 5px 10px;

}

/* Home Page */

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.first-msg{
padding: 100px 0 30px 0;
 font-size: 2rem;
 max-width: 60%;
}

.featured{
 color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(209, 94%, 68%);
}

.featured:hover{
    background-color: white;
    border: 1px solid hsl(209, 94%, 68%);
}

/* CREATE PAGE */
.form {
    max-width: 80%;

}

.input{
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}

.btn{
 display: inline-block;
 background-color: hsl(209, 94%, 68%);
 color: #fff;
 font-size: 1.3rem;
 border: none;
 padding: 10px 20px;
font-family: inherit;
}

.btn:hover{

    color: hsl(209, 94%, 68%) ;
    background-color: white;
    border: 1px solid hsl(209, 94%, 68%);
}

/* STYLE OF THE NOTE PAGE*/

.note-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;

}

.note{
    font-size: 1.3rem;

}

.delete{
 display: inline-block;
 padding: 5px 10px;
 background-color: tomato;
 color: white;
}

.delete:hover{
    background-color: white; 
    color: tomato;
    outline:  1px solid tomato;
    outline-offset: -1px;
}

.error{
    display: inline-block;
    padding: 10px;
    border: 1px solid tomato;
    font-size: 1.2rem;
    color:tomato;
}

.success{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(18, 134, 57);
    font-size: 1.2rem;
    color:rgb(18, 134, 57);
}